/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/************************************
*Css para o título do gráfico       *
************************************/
.graph__top{
    width: 100%;
    margin-bottom: 4rem;
    border-bottom: solid .3rem var(--light-gray);
}

.graph__title{
    width: 100%;
    padding: 2rem 0;
    font-size: var(--font-20rem);
    font-weight: 500;
}

.graph__container{
    width: 100%;
}

.graph__body{
    width: 100%;
}

/****************************************
*Css para o Donut chart para projectos  *
****************************************/
.donut__content{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.donut__box{
    width: 47%;
    background-color: white;
    padding: 0 3rem;
    background-color: white;
    border: solid .1rem var(--light-gray);
    border-radius: .5rem;
    -webkit-box-shadow: .2rem .4rem 1rem var(--black-op16);
            box-shadow: .2rem .4rem 1rem var(--black-op16);
    margin-bottom: 4rem;
    /*animation: moveInBottom 1.5s ease-in-out .75s;*/
}

.donut__header{
    width: 100%;
    margin-bottom: 3rem; 
    border-bottom: solid .3rem var(--light-gray);
}

.donut__title{
    width: 100%;
    padding: 2rem 0;
    font-size: var(--font-20rem);
    font-weight: 500; 
}

.donut__container{
    width:  100%;
    margin-bottom: 4rem;
}

.donut__body{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.donut__footer{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4rem;
}

.donut__statistics{
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.donut__card{
    width: 19%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.donut__card .material-icons{
    color: var(--dark-blue);
    font-size: var(--font-30rem);
}

.donut__card--25{
    width: 24%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.donut__card--25 .material-icons{
    color: var(--dark-blue);
    font-size: var(--font-30rem);
}

.icon{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: .5rem;
}

.status{
    width: 100%;
    text-align: center;
    font-size: var(--font-14rem);
    font-weight: 500;
    color: var(--normal-gray);
    margin-bottom: .5rem;
}

.percent{
    width: 100%;
    text-align: center;
    font-size: var(--font-14rem);
    font-weight: 700;
    color: var(--dark-gray);
}