/******************************
*imagem na tabela de notícias *
******************************/
.news__imgBox{
    width: 100%;
    height: 5rem;
}

.newsImage{
    height: 100%;
    object-fit: cover;
}

/***************************************
        Modal add Notícia
***************************************/
.modal-add-noticia{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
    z-index: 3;
}

.modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40%;
    border-radius: 0.5rem;
}

.close-addNoticia {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-addNoticia:hover{
    background-color: darkgray;
}

.modal__body{
    width: 100%;
    height:40rem;
    margin: 3rem 0;
   overflow-y: scroll;
}

.modal__body p{
    font-size: var(--font-16rem);
    color: var(--faddin-brown);
}

.show-modal{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.data_box{
    width: 100%;
    margin: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.data_box--around{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.task__label{
    width: 100%;
    font-size: var(--font-16rem);
    color: var(--dark-blue);
    font-weight: 500;
    margin-bottom: 1rem;
}

.task__inputNameBox{
    width: 100%;
}

.task__inputName{
    width: 100%;
    height: 4rem;
    border: solid .2rem var(--light-gray);
    border-radius: .5rem;
    margin-bottom: 1rem;
    outline: none;
    padding: .5rem 1rem;
    color: var(--faddin-brown);
}

.task__textarea{
    width: 100%;
    border: solid .2rem var(--light-gray);
    border-radius: .5rem;
    margin-bottom: 1rem;
    outline: none;
    padding: .5rem 1rem;
    color: var(--faddin-brown);
}

.task__inputNameBox--flex{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal__footer{
    width: 100%;
    padding: 2rem 0 0 0;
}

.footer__container{
    width: 100%;
    padding-right: 2rem;
}

.footer__container button{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    float: right;
    background-color: #4c84ff;
    color: white;
    padding: 1.2rem 1.5rem;
    border-radius: 10rem;
    border: 0;
}

.footer__container button:focus{
    outline: none;
    border: 0;
}

.footer__container button:hover{
    background-color: #2962ff;
}

/***************************************
        Modal editar Notícia
***************************************/
.modal-edit-noticia{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
    z-index: 3;
}

.modal-content-edit{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40%;
    border-radius: 0.5rem;
}

.close-editNoticia {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-editNoticia:hover{
    background-color: darkgray;
}

.show-modal-edit{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

/******************************
*Modal para visualizar Eventos*
******************************/
.modal-view-noticia{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
    z-index: 3;
}

.modal-view-noticia-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 45%;
    border-radius: 0.5rem;
}

.show-modal-view{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal-view-body{
    width: 100%;
    height: 65rem;
    padding: 0rem 2rem;
    overflow-y: scroll;
}

.news__imgHolder{
    width: 100%;
}

.news__img{
    width: 100%;
    object-fit: cover;
}

.news__titleHolder{
    width: 100%;
    margin-top: 2rem;
    color: var(--dark-blue);
    font-weight: bold;
    font-size: var(--font-25rem);
}

.cool__line{
    width: 20%;
    height: .3rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5rem;
    background-color: var(--dark-blue);
}

.news__dateHolder{
    width: 100%;
    margin-top: 3rem;
    font-size: var(--font-13rem);
    text-align: right;
    color: var(--faddin-brown);
}

.news__contextHolder{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: var(--font-15rem);
    color: rgb(29, 33, 41);
}

/******************************
*Modal para eliminar notícia  *
******************************/
.modal-delete-noticia{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
    z-index: 3;
}

.modal-delete-noticia-content{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40%;
    border-radius: 0.5rem;
}

.close-delete-modal {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-delete-modal:hover{
    background-color: darkgray;
}

.show-modal-delete{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}